*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:#081226;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

color:white;

}

.login-box{

width:400px;

background:#13284d;

padding:40px;

border-radius:20px;

text-align:center;

border:1px solid rgba(255,255,255,.08);

box-shadow:0 0 30px rgba(0,229,255,.25);

}

.login-box h1{

color:#00E5FF;

margin-bottom:10px;

}

.login-box p{

margin-bottom:25px;

color:#bbb;

}

input{

width:100%;

padding:14px;

margin:10px 0;

border:none;

border-radius:10px;

font-size:16px;

}

button{

width:100%;

padding:14px;

margin-top:20px;

background:#00E5FF;

color:#081226;

border:none;

border-radius:10px;

font-weight:bold;

font-size:17px;

cursor:pointer;

}

button:hover{

background:white;

}

#message{

margin-top:20px;

font-weight:bold;

}
