*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:#081226;

display:flex;

justify-content:center;

align-items:center;

min-height:100vh;

color:white;

padding:20px;

}

.ticket{

width:420px;

background:linear-gradient(135deg,#13284d,#081226);

border:2px solid #00E5FF;

border-radius:25px;

padding:35px;

text-align:center;

box-shadow:0 0 35px rgba(0,229,255,.35);

}

.ticket h1{

color:#00E5FF;

margin-bottom:20px;

}

.avatar{

width:130px;

height:130px;

border-radius:50%;

border:4px solid #00E5FF;

object-fit:cover;

margin-bottom:20px;

}

#pass{

font-size:22px;

color:#FFD54A;

margin:15px 0;

font-weight:bold;

}

#qrcode{

background:white;

padding:15px;

display:inline-block;

border-radius:15px;

margin:25px 0;

}

button{

padding:14px 25px;

background:#00E5FF;

border:none;

border-radius:10px;

font-weight:bold;

cursor:pointer;

margin-top:20px;

}

button:hover{

transform:translateY(-3px);

}

a{

color:#00E5FF;

text-decoration:none;

font-weight:bold;

}
